@using WebAppEmailSender.Models
@model MailsViewModel

<!DOCUME html>

    <html>
    <head>
    </head>
    <body>
        <header>
        </header>
        <div class="container">
            <p>Письмо отправлено...</p>
        </div>
    </body>
</html>
