<!DOCUME html>

    <html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
    <body>
        <script>
            $(function () {
                var mail = { subject: "Done.", body: "It's Work", recipients: ["denis@gritsyuk.ru", "denis.gritsuk@yandex.ru"] };
                $.ajax({
                    type: "POST",
                    data: JSON.stringify(mail),
                    url: "api/mails",
                    contentType: "application/json"
                });
            });
        </script>
        
    </body>
</html>
